

 #content-section {
    background-image: url('./bgimg\ car.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 100vh;
    font-size: 15px;
} 
/* #content-section button{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
#content-section button :hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
} */




@media (max-width: 650px) {
    #content-section {
        background-image: url('./pic8.jpg');
        /* Adjust other styles for smaller screens */
    }
}

/* Additional styling for your content */
#content-section {
    padding: 220px;  /* Add padding for content */
}

